In [70]:
import pandas as pd
import numpy as np
import re

# Analisando o CSV original

In [2]:
# Crie um dataframe a partir do csv
df = pd.read_csv('TMDB_movie_dataset_v11.csv')

# Exiba o nome das colunas
print(df.columns)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [20]:
# Exiba os 5 primeiros registros, mas apenas as colunas 'title', 'vote_average', 'genres' e 'keywords'
print(df[['title', 'vote_average', 'genres', 'keywords', 'homepage']].head())

             title  vote_average                                       genres  \
0        Inception         8.364           Action, Science Fiction, Adventure
1     Interstellar         8.417            Adventure, Drama, Science Fiction
2  The Dark Knight         8.512               Drama, Action, Crime, Thriller
3           Avatar         7.573  Action, Adventure, Fantasy, Science Fiction
4     The Avengers         7.710           Science Fiction, Action, Adventure

                                            keywords  \
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

                                         homepage
0     https://www.warnerbros.com/movies/inception
1               http://www.interstellarmovie.net/
2  https://www.warnerbros.com/movies/dark-knight/
3            https://www.avatar.com/movies/avatar
4      https://www.marvel.com/movies/the-avengers

In [4]:
# Crie uma lista com todos os gêneros únicos presentes na coluna 'genres'
# Primeiro, remova valores nulos
genres_series = df['genres'].dropna()

# Separe os gêneros por vírgula, remova espaços extras e crie um set para garantir unicidade
unique_genres = set()
for genres in genres_series:
    for genre in genres.split(','):
        unique_genres.add(genre.strip())

# Converta para lista (opcionalmente ordenada)
unique_genres = sorted(unique_genres)
print(unique_genres)

['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225978 entries, 0 to 1225977
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1225978 non-null  int64
 1   title                 1225965 non-null  object
 2   vote_average          1225978 non-null  float64
 3   vote_count            1225978 non-null  int64
 4   status                1225978 non-null  object
 5   release_date          1000054 non-null  object
 6   revenue               1225978 non-null  int64
 7   runtime               1225978 non-null  int64
 8   adult                 1225978 non-null  bool
 9   backdrop_path         318225 non-null   object
 10  budget                1225978 non-null  int64
 11  homepage              128554 non-null   object
 12  imdb_id               623349 non-null   object
 13  original_language     1225978 non-null  object
 14  original_title        1225965 non-null  object
 15  overview              965759 non-null   object
 16  popularity            1225978 non-null  float64
 17  poster_path           822097 non-null   object
 18  tagline               172044 non-null   object
 19  genres                717227 non-null   object
 20  production_companies  542437 non-null   object
 21  production_countries  663858 non-null   object
 22  spoken_languages      685579 non-null   object
 23  keywords              321034 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 216.3+ MB

In [6]:
# Ver dados estatísticos da coluna 'vote_average'
print(df['vote_average'].describe())

count    1.225978e+06
mean     1.761494e+00
std      2.966842e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.000000e+00
max      1.000000e+01
Name: vote_average, dtype: float64

In [7]:
# maior nota média
print(df['vote_average'].max())
# mostrar dados que possuem esta nota máxima
print(df[df['vote_average'] == df['vote_average'].max()])

10.0
             id                                              title  \
29279    495686  What's New Scooby-Doo? Vol. 4: Merry Scary Hol...
29392    392622     What's New, Scooby-Doo? Vol. 7: Ready to Scare
31879    609737  The 1st 13th Annual Fancy Anvil Awards Show Pr...
39321    571278                    Scooby-Doo's Original Mysteries
44311    638443  Scooby-Doo: Agence toutou risques, vol. 1 : Le...
...         ...                                                ...
1192503  818888                                   Story of the Sea
1199779  758948                                              DHONG
1209947  756937                                   Call of the Wild
1216000  789516                                      Out on a Limb
1218064  786684                                 Lethal Attractions

         vote_average  vote_count    status release_date  revenue  runtime  \
29279            10.0          46  Released   2007-02-20        0       85
29392            10.0          46  Released   2006-05-17        0        0
31879            10.0          40  Released   2002-03-23        0      120
39321            10.0          29  Released   2000-03-14        0      110
44311            10.0          24  Released   2007-04-12        0        0
...               ...         ...       ...          ...      ...      ...
1192503          10.0           0  Released   1973-03-26        0       40
1199779          10.0           0  Released   2020-10-29        0        7
1209947          10.0           0  Released   1992-01-01        0       89
1216000          10.0           0  Released   2019-11-26        0       21
1218064          10.0           0  Released   2014-08-01        0       46

         adult                     backdrop_path  ...  \
29279    False                               NaN  ...
29392    False                               NaN  ...
31879    False                               NaN  ...
39321    False                               NaN  ...
44311    False                               NaN  ...
...        ...                               ...  ...
1192503  False                               NaN  ...
1199779  False                               NaN  ...
1209947   True  /hQcVEBOLSnqNFVtR9lvrJZMVVea.jpg  ...
1216000  False  /5SnwLnYuc8c5VUgWYZjPtF9oivj.jpg  ...
1218064  False                               NaN  ...

                                            original_title  \
29279    What's New Scooby-Doo? Vol. 4: Merry Scary Hol...
29392       What's New, Scooby-Doo? Vol. 7: Ready to Scare
31879    The 1st 13th Annual Fancy Anvil Awards Show Pr...
39321                      Scooby-Doo's Original Mysteries
44311    Scooby-Doo: Agence toutou risques, vol. 1 : Le...
...                                                    ...
1192503                                     Saga af sjónum
1199779                                              DHONG
1209947                                   Call of the Wild
1216000                                      Out on a Limb
1218064                                 Lethal Attractions

                                                  overview popularity  \
29279    A perfect ski vacation heads downhill in Winte...      2.092
29392    Scooby-Doo and the mystery inc gang battle fie...      2.678
31879    Cartoon Network holds an awards show awarding ...      4.015
39321    See how your favorite snack-munching canine su...      1.937
44311                                                  NaN      2.076
...                                                    ...        ...
1192503                                                NaN      0.664
1199779  A man murders a Dhongi Baba, steals a briefcas...      0.600
1209947  Filmed in the wilderness of French Canada, thi...      0.600
1216000  In this film, two people and two worlds meet. ...      0.600
1218064  In the African wilderness, there's no such thi...      0.600

                              poster_path  \
29279    /rOnw5fJiXrA9plD5kY7uhsvafIX.jpg
29392    /hsWjtBhyFBINumzFqEtNl8FCgFQ.jpg
31879                                 NaN
39321                                 NaN
44311    /dLlViSQv4uQDLC58l0auKI6iACm.jpg
...                                   ...
1192503  /lCN7uQeUVrvKLl9aRFgpjDsKEzA.jpg
1199779  /n82vOcfr7jmN28KmySl9dRyZhKb.jpg
1209947  /s9BokWS60gDVJysI5z8uJtK6psX.jpg
1216000  /6mYTxCLuAMGCwyFTTuIpcMXHmMI.jpg
1218064  /2wgxdUEQ8QN4ETsBCkH2kfImh1t.jpg

                                      tagline  \
29279                                     NaN
29392                                     NaN
31879                          Live In Stereo
39321                                     NaN
44311                                     NaN
...                                       ...
1192503                                   NaN
1199779                                   NaN
1209947  Starring 11 hot French Canadian men!
1216000                                   NaN
1218064                                   NaN

                                                    genres  \
29279    Animation, Comedy, Science Fiction, Action, Fa...
29392                   Animation, Comedy, Family, Mystery
31879                            Animation, Family, Comedy
39321                                 Animation, Adventure
44311                            Animation, Family, Comedy
...                                                    ...
1192503                                                NaN
1199779                                                NaN
1209947                                                NaN
1216000                                        Documentary
1218064                                        Documentary

                                      production_companies  \
29279    Warner Bros. Pictures, Hanna-Barbera Productio...
29392    Hanna-Barbera Productions, Cartoon Network Stu...
31879    Hanna-Barbera Productions, Cartoon Network Stu...
39321                            Hanna-Barbera Productions
44311                            Hanna-Barbera Productions
...                                                    ...
1192503                                                NaN
1199779                                                NaN
1209947                          Kristen Bjorn Productions
1216000                                          Arc'teryx
1218064                                                NaN

             production_countries spoken_languages  \
29279    United States of America          English
29392    United States of America          English
31879    United States of America          English
39321    United States of America          English
44311    United States of America           French
...                           ...              ...
1192503                       NaN        Icelandic
1199779                       NaN              NaN
1209947                    Canada           French
1216000                    Canada          English
1218064                       NaN              NaN

                                                  keywords
29279                                              cartoon
29392                                                  NaN
31879                 cartoon, awards show, talking animal
39321                                                  NaN
44311                                                  NaN
...                                                    ...
1192503                                                NaN
1199779                                                NaN
1209947  sex outdoors, male bonding, gay pornography, f...
1216000  mountaineering, handicap, free climbing, escalade
1218064                                                NaN

[26268 rows x 24 columns]

In [8]:
# menor nota média
print(df['vote_average'].min())

0.0

# Limpando os dados

In [9]:
# Remova todos os registros onde a coluna adult é igual a True
df_movies = df[df['adult'] != True]

In [ ]:
# Remova os registros onde title é igual a null
df_movies = df_movies[df_movies['title'].notnull()]

In [ ]:
# conte quantos registros possuem title igual a null
print(df_movies['title'].isnull().sum())

12

In [71]:
# Criando um dataframe apenas com as colunas de interesse
df_movies = df[['title', 'vote_average', 'vote_count', 'release_date', 'imdb_id', 'genres', 'keywords']]
# Exibindo os 5 primeiros registros
print(df_movies.head(5))

             title  vote_average  vote_count release_date    imdb_id  \
0        Inception         8.364       34495   2010-07-15  tt1375666
1     Interstellar         8.417       32571   2014-11-05  tt0816692
2  The Dark Knight         8.512       30619   2008-07-16  tt0468569
3           Avatar         7.573       29815   2009-12-15  tt0499549
4     The Avengers         7.710       29166   2012-04-25  tt0848228

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

In [ ]:
# apague os registrs onde title é nulo
df_movies = df_movies.dropna(subset=['title'])

# apague os registros onde genre é nulo
df_movies = df_movies.dropna(subset=['genres'])

In [60]:
# Quantos registros de vote_count no df abaixo do valor 1?
print(df_movies[df_movies['vote_count'] < 1].shape[0])

424225

In [61]:
# Reordene as linhas por ordem alfabetica da coluna 'title'
df_movies = df_movies.sort_values(by='title', ascending=True)

In [62]:
# info do dataframe
print(df_movies.info())

<class 'pandas.core.frame.DataFrame'>
Index: 717222 entries, 354506 to 767951
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         717222 non-null  object
 1   vote_average  717222 non-null  float64
 2   vote_count    717222 non-null  int64
 3   release_date  670107 non-null  object
 4   imdb_id       461783 non-null  object
 5   genres        717222 non-null  object
 6   keywords      260204 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 43.8+ MB
None

In [64]:
# Alguns registros tem title sem nenhum texto, ou seja, title é igual a ''
# Quantos registros possuem title igual a ''
print(df_movies[df_movies['title'] == ''].shape[0])

0

In [65]:
df_movies = df_movies[df_movies['imdb_id'].notnull()]

In [ ]:

# Remova caracteres diferentes de letras, números ou espaços e deixe em minúsculo nos títulos
df_movies['title'] = df_movies['title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9 ]', '', x).lower() if isinstance(x, str) else x)

In [67]:
genres = ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']
# Quantos filmes existem por gênero?
for genre in genres:
    # Crie uma máscara para filtrar os filmes que contêm o gênero atual
    mask = df_movies['genres'].str.contains(genre, na=False)
    # Conte o número de filmes que atendem à condição
    count = df_movies[mask].shape[0]
    print(f'{genre}: {count}')

Action: 34703
Adventure: 18830
Animation: 31581
Comedy: 109716
Crime: 28386
Documentary: 86407
Drama: 177928
Family: 20384
Fantasy: 16644
History: 12316
Horror: 37639
Music: 21346
Mystery: 14879
Romance: 42411
Science Fiction: 16238
TV Movie: 20397
Thriller: 38232
War: 8607
Western: 8123

In [68]:
# Corrigindo alguns tipos de dados
# Converta a coluna 'release_date' para o tipo datetime
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')
# Convertendo genres e keywords de string para array
df_movies['genres'] = df_movies['genres'].fillna('').apply(lambda x: x.split(',') if x else [])
df_movies['keywords'] = df_movies['keywords'].fillna('').apply(lambda x: x.split(',') if x else [])
# Preenchendo valores ausentes
df_movies['imdb_id'] = df_movies['imdb_id'].fillna('')

In [72]:
df_movies.head(15)

,title,vote_average,vote_count,release_date,imdb_id,genres,keywords
0,Inception,8.364,34495,2010-07-15,tt1375666,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,Interstellar,8.417,32571,2014-11-05,tt0816692,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,The Dark Knight,8.512,30619,2008-07-16,tt0468569,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,Avatar,7.573,29815,2009-12-15,tt0499549,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,The Avengers,7.710,29166,2012-04-25,tt0848228,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."
5,Deadpool,7.606,28894,2016-02-09,tt1431045,"Action, Adventure, Comedy","superhero, anti hero, mercenary, based on comi..."
6,Avengers: Infinity War,8.255,27713,2018-04-25,tt4154756,"Adventure, Action, Science Fiction","sacrifice, magic, superhero, based on comic, s..."
7,Fight Club,8.438,27238,1999-10-15,tt0137523,Drama,"dual identity, rage and hate, based on novel o..."
8,Guardians of the Galaxy,7.906,26638,2014-07-30,tt2015381,"Action, Science Fiction, Adventure","spacecraft, based on comic, space, orphan, adv..."
9,Pulp Fiction,8.488,25893,1994-09-10,tt0110912,"Thriller, Crime","drug dealer, boxer, massage, stolen money, bri..."
10,Forrest Gump,8.477,25409,1994-06-23,tt0109830,"Comedy, Drama, Romance","vietnam war, vietnam veteran, mentally disable..."
11,Harry Potter and the Philosopher's Stone,7.916,25379,2001-11-16,tt0241527,"Adventure, Fantasy","witch, school friend, friendship, london, engl..."
12,Iron Man,7.640,24874,2008-04-30,tt0371746,"Action, Science Fiction, Adventure","middle east, superhero, arms dealer, malibu, b..."
13,Django Unchained,8.171,24672,2012-12-25,tt1853728,"Drama, Western","rescue, friendship, bounty hunter, texas, slav..."
14,The Shawshank Redemption,8.702,24649,1994-09-23,tt0111161,"Drama, Crime","prison, friendship, police brutality, corrupti..."

# Dataset suficientemente limpo para esta primeira versão

In [69]:
# Salvar o dataframe em um novo arquivo CSV
df_movies.to_csv('movies-V1.0.csv', index=False)